.about-section-p{
    padding: 3rem;
}

/* =========== MEDIA QUERIES (SMALL SCREENS) ============= */
@media screen and (max-width: 600px), screen and (max-height: 851px) {
    .about_container {
        overflow-y: scroll;
        height: 40vh;
    }
}
/* =========== MEDIA QUERIES (SMALL SCREENS) ============= */
@media screen and (max-width: 375px) {
    .about-section-h2{
        font-size: 1.5rem;
    }
    .about-section-p{
        font-size: 0.7rem;
        padding: 1rem 0.5rem;
    }
}