.contact_container{
    width: 75vw;
    padding-bottom: 2rem;
}
/* =========== MEDIA QUERIES (MEDIUM SCREENS) ============= */
@media screen and (max-width: 600px) {
    .contact_container{
        width: var(--sm-screen-width);
    }
}
